
h1{
    text-align: center;
}

main {
    background-image: url("../images/backgroundimage.jpg");
    background-color: #47c4f1;
   
}

.card {
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center; 
    
}
input{
    padding: 8px;
    width:190px;
  
}
.weather{
   display: grid;
   place-items: center;
}
.details {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
    gap: 20px; /* Adjust the gap between columns as needed */
    align-items: center;
    text-align: center;
}

