h1{
    text-align: center;
}

main{
    background-image: url("../images/backgroundimage.jpg");
    background-color:#47c4f1;
    padding: 50px;
    
}
.card{
    justify-content: center;
}
.search{
    display: flex;
    justify-content: center; 
    
}
input{
    padding: 8px;
    width:190px;
  
}
.weather{
   display: grid;
   place-items: center;
}
